<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Consulta Cep / Senac/Edvandro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-label  position="stacked">CEP<ion-text color="danger">*</ion-text></ion-label>
      <ion-input autofocus clearInput type="number" [(ngModel)]="cep"  placeholder=" Digite o CEP" (ionBlur)="consultaCEP($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Logradouro</ion-label>
      <ion-input type="text" [(ngModel)]="logradouro"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Bairro</ion-label>
      <ion-input type="text" [(ngModel)]="bairro"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cidade</ion-label>
      <ion-input type="text" [(ngModel)]="cidade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input type="text" [(ngModel)]="estado"></ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button  color = "danger" expand="block" round (click)="limpaCampos($event)" >Reset</ion-button>
    </div>
</ion-content>
